<html>
<head>
    <title>Book Inventory</title>
</head>
<body>
    <h1>Book Inventory</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <a href="{{ url_for('edit_book', book_id=book.id) }}">Edit</a>
                    <a href="{{ url_for('delete_book', book_id=book.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('add_book') }}">Add New Book</a>
</body>
</html>
